services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: nursingcare-sql
    environment:
      SA_PASSWORD: "${SQL_PASSWORD}"
      ACCEPT_EULA: "Y"
    ports:
      - "${DB_PORT}:1433"
    restart: always
    volumes:
      - sqlserver-data:/var/opt/mssql

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
        - "${API_PORT}:${API_PORT}" # map host port to container port
    environment:
      ASPNETCORE_URLS: "http://+:${API_PORT}"  # listen on all interfaces inside container
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT}"
      ConnectionStrings__DefaultConnection: "Server=sqlserver,1433;Database=NursingCareDb;User Id=sa;Password=${SQL_PASSWORD};TrustServerCertificate=True;"
    depends_on:
      - sqlserver

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${API_PORT}/api/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3

volumes:
  sqlserver-data:
