services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: nursingcare-sql
    environment:
      SA_PASSWORD: "1202lingSter89*"
      ACCEPT_EULA: "Y"
    ports:
      - "${DB_PORT}:${DB_PORT}"  
    restart: always
    volumes:
      - sqlserver-data:/var/opt/mssql

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
        - "${API_PORT}:${API_PORT}"  # host:container
    environment:
      ASPNETCORE_URLS: "http://+:${API_PORT}"  # listen on all interfaces inside container
      ConnectionStrings__DefaultConnection: "Server=${DB_HOST},1433;Database=${DB_NAME};User Id=${DB_USER};Password=${SQL_PASSWORD};TrustServerCertificate=True;"
      LOCALHOST_URL: "${LOCALHOST_URL}"
    depends_on:
      - sqlserver

    healthcheck:
      test: ["CMD-SHELL", "curl -f ${LOCALHOST_URL}:${API_PORT}/api/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3

volumes:
  sqlserver-data:
